@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./utils/mixins";
@import "./base/typography";
@import "./components/buttons";
@import "./components/heart";
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/loader";
@import "./layouts/container";
@import "./pages/index";
@import "./pages/secondary";

@keyframes collapse {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(24px);
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(12px);
    }
  
    60% {
      animation-timing-function: ease-in;
      transform: translateY(6px);
    }
  
    80% {
      animation-timing-function: ease-in;
      transform: translateY(4px);
      opacity: 1;
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
}
@keyframes spin {
    to {
    transform: rotate(1turn);  
}

}
@keyframes fadeaway {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@media screen and (min-width: 800px) {

    .maintray {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 14px;
    }

    .container-step {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 14px;
    }

    .menu__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 14px;
    }

    .meal-container {

        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1105px) {

    .maintray {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 14px;
    }
}