@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";

.loader {
background-color: "#f3f3f3"
}

header {
    @include flex-center
 }

 footer {
    @include padding-layout;
    height: 156px;
    background-color: $grey3;
    color: $color-white;

    span {
        height: 15px;
        width: 15px;
        margin-right: 15px;
    }
}

.city {
    @include flex-center;
    background-color: $grey2;
    height: 50px;
    
    &__container {
        @include flex-center;

        span {
            margin-right: 15px;
        }  
    }
}

.explore {
    @include padding-layout;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 290px;
    background-color: $grey1;
}

.functioning {
    @include padding-layout; 
}

.restaurants {
    @include padding-layout;
    background-color: $grey1;
}

button {
    @include box-shadow;
    @include button;
}

.card {
    position: relative;
    display: grid;
    grid-template-rows: 174px 77px;
    height: 251px;
    border-radius: 15px 15px;
    margin-block: 20px;
    background: $color-white;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }

    &__sticker {
        position: absolute;
        background-color: aquamarine;
        color: $color-white;
        font-weight: bold;
        height: 30px;
        width:80px;
        padding: 8px;
    }
}

.step {
    @include padding-layout;
    display: flex;
    height: 64px;
    justify-content: flex-start;
    align-items: center;
    background-color: $grey1;
    border-radius: 15px 15px;
    margin-block: 20px;

    &>span {
        margin-right: 15px;
        color: $grey3;
      }

    &__number {
        position: relative;
        right: 30px;
        height: 25px;
        width: 25px;
        text-align: center;
        font-size: large;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 50%;
    }
    &:hover {
        background: $alpha-primary;
    }
}

.card__heading {
    @include padding-layout;
    display: grid;
    grid-template-columns: 80% 20%;
   
}
