@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 900;
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bolder;
}

h4 {
  font-family: 'Shrikhand', cursive;
  font-weight: 900;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: unset;
  font-weight: unset;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

footer {
  padding: 20px;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
  height: 200px;
  background-color: #353535;
  color: white;
}

footer span {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

.city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  background-color: #d2d2d2;
  height: 50px;
}

.city__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.city__container span {
  margin-right: 15px;
}

.explore {
  padding: 20px;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 290px;
  background-color: #f2f2f2;
}

.functioning {
  padding: 20px;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
}

.restaurants {
  padding: 20px;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
  background-color: #f2f2f2;
}

button {
  -webkit-box-shadow: 0px 5px 5px #d2d2d2;
          box-shadow: 0px 5px 5px #d2d2d2;
  height: 50px;
  width: 218px;
  border: none;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FF79DA), color-stop(90%, #9356DC));
  background: linear-gradient(#FF79DA 10%, #9356DC 90%);
  color: white;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 174px 77px;
      grid-template-rows: 174px 77px;
  height: 251px;
  border-radius: 15px 15px;
  margin-block: 20px;
  background: white;
}

.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.step {
  padding: 20px;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-radius: 15px 15px;
  margin-block: 20px;
}

.step > span {
  margin-right: 15px;
  color: #353535;
}

.step__number {
  position: relative;
  right: 30px;
  height: 25px;
  width: 25px;
  text-align: center;
  font-size: large;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
}

/*.test {
      background-color: blue;
  }*/
/*# sourceMappingURL=styles.css.map */