@mixin flex-center {
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 15px;
    
}
@mixin padding-layout {
    padding: 20px;
    padding-block-end: 20px;
    
}
@mixin font-title {
    font-family: 'Shrikhand', cursive;
    font-weight: 900;
}
@mixin button {
    height: 50px;
    width: 218px;
    border: none;
    border-radius: 25px;
    background: $gradient;
    color: $color-white;
}
@mixin box-shadow {
    box-shadow: 0px 5px 5px $grey2;
}