$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: white;
$grey1: #f2f2f2;
$grey2:#d2d2d2;
$grey3: #353535;
$gradient: linear-gradient(#FF79DA 10%, #9356DC 90%)
