* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
}

body {

    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    position: relative;

  }
  
  .blocpage {
    background-color: $grey1;
    position: relative;
  }

  p {
    font-size: 1.0em;
  }

  h1 { 
    @include font-title;
    font-size: 2.0em;
  }
  

  h2 {
    font-size: 1.4em;
    margin-block-start: 40px;
    
  }
  .menu h2 {
    text-transform: uppercase;
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.0em;
  
  }

  h4 {
    @include font-title;
    font-size: 1.2em;

  }
  
  a {
    text-decoration: none;
    color: unset;
    font-weight: unset;
  }

