body {
    margin: 0;
    padding: 0%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  
  h1 {
      font-family: 'Shrikhand', cursive;
  }
  
  h2 {
    font-weight: 900;
  }
  
  a {
    text-decoration: none;
  }
  
  